:root {
  --white9: #FFFFFF;

  --black9: #000000;

  --gray9: #0D0D0D;
  --gray8: #1A1A1A;
  --gray7: #262626;
  --gray6: #333333;
  --gray5: #808080;
  --gray4: #D9D9D9;
  --gray3: #F2F2F2;

  --blue9: #1E6F9F;
  --blue8: #4EA8DE;

  --purple9: #5E60CE;
  --purple8: #8284FA;

  --red9: #F75A68;
}
