:root {
  --white9: #FFFFFF;

  --black9: #000000;

  --gray9: #121214;
  --gray8: #202024;
  --gray7: #29292E;
  --gray6: #323238;
  --gray5: #8D8D99;
  --gray4: #C4C4CC;
  --gray3: #E1E1E6;

  --green9: #00875F;
  --green8: #00B37E;

  --red9: #F75A68;
}
